MONGO_URI=mongodb+srv://USERNAME:PASSWORD@YOUR-CLUSTER.mongodb.net/final-approver?retryWrites=true&w=majority&appName=Final-Approver-Interface
FIREBASE_SERVICE_ACCOUNT_JSON=bayport-final-approver-firebase-adminsdk-fbsvc-87d1ff3db6.json
FIREBASE_PROJECT_ID=YOUR_PROJECT_ID
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@YOUR_PROJECT_ID.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
